.btn-profile{
  background-color: white;
  transform: translateY(43px);
  width: max-content;
  color: #7b848a;

  
    }
    .btn-profile a {
      color: #666 !important;
      text-decoration: none;
    
    }
    .bgDrop{
      background-color:#17a2b8 !important;
      color: white !important;
    }