.dropdown-profile{
  background-color: #f8f9fa;
z-index: 999;
  }
  .dropdown-profile a {
    color: #666 !important;
    text-decoration: none;
  
  }
  .rounded-circle{
    box-shadow: 0 5px 10px 0 rgb(43 43 43 / 20%);
  }

  