.bubblebar{
    width: max-content;
}
.step-item:not(:first-child)::before {
    content: '';
    background-color:lightgray; /* Use the appropriate color code for red-200 */
    position: absolute;
    width: 100%;
    height: 3px;
    right: 50%;
    top: 33.33%;
    transform: translateY(-50%);
  }
  
  .step {
    width: 2.5rem; /* Equivalent to w-10 in Tailwind CSS */
    height: 2.5rem; /* Equivalent to h-10 in Tailwind CSS */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;
    background-color:lightgray; /* Use the appropriate color code for bg-slate-700 */
    border-radius: 9999px; /* Equivalent to rounded-full in Tailwind CSS */
    font-weight: 600; /* Equivalent to font-semibold in Tailwind CSS */
    color: #ffffff; /* Equivalent to text-white in Tailwind CSS */
  }

  .active .step {
    background-color: #17a2b8; /* Use the appropriate color code for bg-sky-600 */
  }
  .complete .step {
    background-color: #17a2b8; /* Use the appropriate color code for bg-green-600 */
  
  }
  .complete p {
  color: #17a2b8;
  }
  .complete:not(:first-child)::before,
  .active:not(:first-child)::before {
    content: '';
    background-color: #17a2b8; /* Use the appropriate color code for bg-green-600 */
  }


 .prof-lft {
    padding: 0px 0px 0px 15px;
    margin: 10px 0px;
}
.name-left-two{
    display: flex;
}
 .color-div {
    border: 1px solid #ccc !important;
    border-radius: 10px;
    padding: 0px 15px;
    background: #fff;
}
.color-div div {
    padding: 0px;
}

/* #msform fieldset {
    background: rgb(235, 7, 7) !important;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
} */

h3.asses-hdg {
    margin: 0px 0 0 15px;
    font-size: 26px;
    color: #17a2b8;
    text-align: left;
    font-weight: bold;
}
.steps {
    font-size: 19px;
    color: #17a2b8;
    font-weight: normal;
    text-align: right;
    margin: 0 28px 0 0;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
div #accordion h4 {
    color: #17a2b8 !important;
    font-size: 20px;
    font-weight: 600;
}
.form-card .card-body > .row {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0px 0px !important;
}
#accordion .card-body {
    padding: 15px 0px;
}

.color-div p {
    font-weight: 500;
    font-size: 15px;
    margin: 0px 0 0px 0px;
    border-bottom: 1px solid #ccc;
    padding: 13px 15px;
}

.color-div p label {
    font-weight: bold;
    font-size: 15px;
    width: 143px;
    display: inline-block;
}
/* form #msform p span {
    display: inline-block;
    width: 54%;
    vertical-align: top;
    background-color: red !important;
} */

.name-rgt:before {
    border-left: 1px solid #ccc;
    content: "sdsd";
    color: transparent;
    position: absolute;
    left: 0px;
    height: 100%;
}
.name-rgt .form-card select {
    background: transparent !important;
    margin: 0px !important;
    height: auto;
    padding: 7.2px 10px !important;
    border-radius: 5px !important;
    font-size: 15px !important;
    width: 100%;
    border-color: #ccc;
}
.prof-rgt {
    padding: 0 15px 0 15px;
    margin: 10px 0px;
}
.prof-rgt .color-div2 {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 6px 15px;
    text-align: center;
    background: #fff;
}
.color-div2 h2 {
    text-align: left;
    color: #17a2b8;
    font-size: 20px;
    font-weight: 600;
}
.note_area_editable{
    height: 210px;
    width: 100%;
    background-color: #ECEFF1;
    border:1px solid #ccc;
    padding: 2px;
    overflow-y: auto;
    text-align:left;
    white-space: pre-wrap; /* for preformatted text */
    word-wrap: break-word; /* for long words */     

    -webkit-user-select: text; /* for Chrome and Safari */
    -moz-user-select: text; /* for Firefox */
    -ms-user-select: text; /* for Internet Explorer and Edge */
    user-select: text; /* for all other browsers */
}
.color-div2 p {
    text-align: left;
    margin: 8px 0;
    font-weight: 600;
}
.form-label-Processing{
    width:25% !important;
}
@media only screen and (min-width: 0px) and (max-width: 1024px){
    .name-left-two{
        flex-direction: column !important;
    }
    .form-label-Processing{
        width:100% !important;
    }
}
