.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #17a2b8 !important ;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-completed {
    color: #17a2b8 !important ;
    font-weight: 500;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #17a2b8 !important ;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-active {
    color: #17a2b8 !important ;
    font-weight: 500;
}
@media (max-width: 992px) {
    .MuiStepper-root.MuiStepper-horizontal.MuiStepper-alternativeLabel.css-10mg1vw-MuiStepper-root {
        width: max-content;
    }
}
